.history[data-v-6a29b310]{padding-left:12px}.history .history-title[data-v-6a29b310]{font-size:18px;margin-top:20px;padding-left:10px}.history .date-title[data-v-6a29b310]{display:block;font-size:16px;margin:10px}
